@page "/orders"

@inject OrderService OrderService
@inject NavigationManager Nav
@inject ToastService Toast

<div class="orders-content">

    <section class="menu-section">

        @if (loading)
        {
            <div class="empty-state">Carregando pedidos...</div>
        }
        else
        {
            <table class="orders-table">

                <thead>
                    <tr>
                        <th class="col-action"></th>
                        <th>ID</th>
                        <th>Subtotal</th>
                        <th>Desconto</th>
                        <th>% Desc.</th>
                        <th>Total</th>
                        <th class="col-actions">Action</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="add-row">
                        <td class="col-action">
                            <button class="add-btn" @onclick='() =>  Nav.NavigateTo("/menu")'>+</button>
                        </td>

                        <td class="text-start" colspan="6">
                            Criar Pedido
                        </td>
                    </tr>

                    @if (orders.Count == 0)
                    {
                        <tr>
                            <td colspan="7" class="empty-row">
                                Nenhum pedido encontrado.
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td></td>

                                <td>#@order.Id.ToString()[..8]</td>
                                <td>@order.Subtotal.ToString("C")</td>
                                <td>@order.Discount.ToString("C")</td>
                                <td>@order.PercentDiscount%</td>
                                <td class="total">@order.Total.ToString("C")</td>

                                <td class="actions-cell">

                                    <button class="table-btn edit"
                                    title="Editar"
                                    @onclick='() => Nav.NavigateTo($"/menu/{order.Id})")'>
                                        ✎
                                    </button>

                                    <button class="table-btn delete"
                                    title="Excluir"
                                    @onclick="() => DeleteOrder(order.Id)">
                                        -
                                    </button>

                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
        }

    </section>

</div>

@code {

    private List<OrderDto> orders = [];
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadOrders();
    }

    private async Task LoadOrders()
    {
        loading = true;
        GetOrdersResponse? response = await OrderService.GetOrdersAsync();
        orders = response!.Orders;
        loading = false;
    }          


    private async Task DeleteOrder(Guid id)
    {
        await OrderService.DeleteOrderAsync(id).HandleToast(Toast, $"Pedido {id} deletado.");
        orders.RemoveAll(x => x.Id == id);
        await InvokeAsync(StateHasChanged);
    }
}